<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.todojujuy.com.prodigi"
    version   = "2.0">
  <name>TodoJujuy</name>
  <author href="http://www.unicable.com.ar" email="ofunes@unicable.com.ar">Marcelo Funes</author>
  <description>Diario Digital - Jujuy, Argentina</description>
  <content src="index.html"/>
  <access origin="*"/>
  
  <icon src="icon.png" />
  <icon src="res/img/android/icon-ldpi.png" gap:platform="android" gap:qualifier="ldpi" gap:density="ldpi" />
  <icon src="res/img/android/icon-mdpi.png" gap:platform="android" gap:qualifier="mdpi" gap:density="mdpi" />
  <icon src="res/img/android/icon-hdpi.png" gap:platform="android" gap:qualifier="hdpi" gap:density="hdpi" />
  <icon src="res/img/android/icon-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" gap:density="xhdpi" />
  <icon src="res/img/logo.png" gap:platform="blackberry" />
  <icon src="res/img/logo.png" gap:platform="winphone" />
  <icon src="res/img/logo.png" gap:platform="webos" />
  
  <!-- Settings Icon -->
  <icon src="res/img/ios/icon-small.png" gap:platform="ios" width="29" height="29" />
  <icon src="res/img/ios/icon-small@2x.png" gap:platform="ios" width="58" height="58" />	
  <!-- iPhone / iPod Touch -->
  <icon src="res/img/ios/icon.png" gap:platform="ios" width="57" height="57" />
  <icon src="res/img/ios/icon@2x.png" gap:platform="ios" width="114" height="114" />
  <!-- Spotlight Icon -->
  <icon src="res/img/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
  <icon src="res/img/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80" />  
  <!-- iPad Spotlight and Settings Icon -->
  <icon src="res/img/ios/icon-50.png" gap:platform="ios" width="50" height="50" />
  <icon src="res/img/ios/icon-50@2x.png" gap:platform="ios" width="100" height="100" />  
  <!-- iPhone / iPod Touch  -->
  <icon src="res/img/ios/icon-60.png" gap:platform="ios" width="60" height="60" />
  <icon src="res/img/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />	
  <!-- iPad -->
  <icon src="res/img/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
  <icon src="res/img/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />
  <!-- iPad -->
  <icon src="res/img/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
  <icon src="res/img/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152" />	  
    
  <gap:splash src="res/img/splash.png" />
  <gap:splash src="res/img/android/ldpi.png"    gap:platform="android" gap:qualifier="port-ldpi" gap:density="ldpi" />
  <gap:splash src="res/img/android/mdpi.png" 	gap:platform="android" gap:qualifier="port-mdpi" gap:density="mdpi" />
  <gap:splash src="res/img/android/hdpi.png" 	gap:platform="android" gap:qualifier="port-hdpi" gap:density="hdpi" />
  <gap:splash src="res/img/android/xhdpi.png"  	gap:platform="android" gap:qualifier="port-xhdpi" gap:density="xhdpi" />
  <gap:splash src="res/img/bb/splash.png" 		gap:platform="blackberry" />
  <gap:splash src="res/img/winphone/splash.jpg"	gap:platform="winphone" />
  
  <!-- iPhone -->
  <gap:splash src="res/img/splash/screen-iphone-landscape.png"		gap:platform="ios" width="480" height="320" />
  <gap:splash src="res/img/splash/screen-iphone-landscape-2x.png"   gap:platform="ios" width="960" height="640" />
  <gap:splash src="res/img/splash/screen-iphone-portrait.png"       gap:platform="ios" width="320" height="480" />
  <gap:splash src="res/img/splash/screen-iphone-portrait-2x.png"    gap:platform="ios" width="640" height="960" />
  <gap:splash src="res/img/splash/screen-iphone-portrait-568h-2x.png"  gap:platform="ios" width="640" height="1136" />
    
  <preference name="android-installLocation" value="preferExternal" />
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="splash-screen-duration" value="10000" />
  <preference name="SplashScreenDelay" value="10000" />   
  <preference name="permissions" value="none" />
  <preference name="orientation" value="portrait" />
  <gap:plugin name="nl.x-services.plugins.socialsharing" source="plugins.cordova.io" />
  <gap:plugin name="org.apache.cordova.splashscreen" />
  <gap:plugin name="org.apache.cordova.inappbrowser" />-->
  <gap:plugin name="com.danielcwilson.plugins.googleanalytics" version="0.6.1" />
</widget>